services:
  web:
    build: .
    container_name: secure-file-share
    ports:
      - "5000:5000"
    restart: always

    # Environment variables
    env_file:
      - /home/ubuntu/secure-file-share-env

    # Persistent volumes
    volumes:
      - /home/ubuntu/secure-file-share-env:/app/.env:ro  # read-only for safety
      - ./data:/app/data

    command: >
      bash -c "mkdir -p /app/data && chmod -R 777 /app/data && python app.py"

