services:
  web:
    build: .
    container_name: secure-file-share
    ports:
      - "5000:5000"
    restart: always
    env_file:
      - .env
    volumes:
      - ./.env:/app/.env
      - ./data:/app/data   # this keeps your DB persistent between rebuilds
    command: >
      bash -c "mkdir -p /app/data && chmod -R 777 /app/data && python app.py"
